<layout name="layout" />
 <div class="blog">
<!-- blog list begin-->
	 <volist name="info" id="val">
	  <div class="blog-div" >
	  	<h2><a href="#">{$val.title}</a></h2>
	  	<p >
	  		{$val.create_time|date='Y-m-d',###}
	  	</p>
	  	<a class="topimg"  >
			<img src="{$val.titlepic }"  >
		</a>
		<label class="lable_content" >
			<span class="words">
				<label>
				{$val.content}
				
				</label>
			</span>
			<a   rel="nofollow"  class="more-link " name="{$val.id}" onclick="browser(this,{$val.type},1)"  >继续阅读 »</a>
			<p class="read">
	  			<span >
	  				<i class="icon iconfont icon-touxiang" ></i>
	     			<span>伍洁</span>
	  			</span>
	  			<span >
	  				<i class="icon iconfont icon-huiyishiqueren_huabanfuben" ></i>
	     			<span>
	     				{:date('Y-m-d',$val.update_time)}
	     				<!--{$val.update_time}-->
	     			</span>
	  			</span>
	  			<span >
	  				<i class="icon iconfont icon-liulan" ></i>
	     			<span>{$val.browser}浏览</span>
	  			</span>
	  			<span  >
	  				<a href="javascript:;" class="thumbs-up  star" name="{$val.id}" onclick="star(this)" >
	  					<i class="icon iconfont icon-buoumaotubiao16" ></i>
	     				<span>{$val.star}个赞</span>
	  				</a>
	  			</span>
	  		</p>
		</label>
	 </div>
</volist>
 <!-- blog list end-->
 

  </div>