<layout  name="layout" />
    <h1 class="page-header">管理 <span class="badge">4</span></h1>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
            <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">评论内容</span></th>
            <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
            <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
          </tr>
        </thead>
        <tbody>
      	<volist name="info" id="val" >
          <tr>
            <td>{$val.title}</td>
            <td class="article-title">{$val.content}</td>
            <td>{:date('Y-m-d',$val.create_time)}</td>
            <!--href="{:url('Comment/comment_detail',array('action'=>'comment'))}"-->
            <td><a rel="{$val.id}" name="see"  class="see" onclick="see(this)"  >查看</a> 
            	<a rel="{$val.id}" name="delete" class="deletes" onclick="deletes(this)">删除</a>
            </td>
          </tr>
         </volist>
        </tbody>
      </table>
    </div>
<script type="text/javascript">
	//点击查看
	function see(comments ){
		var id =  $(comments).attr("rel");
		var index = "comment";
		$.ajax({
			type:"post",
			url:"{:url('Comment/comment_detail')}",
			async:true,
			data:{"id":id},
			success:function(data){
					window.location.href = "/blog/comment/comment_detail/action/"+index+"/id/"+id; //页面跳转带的参数
			}
		});
	}
	//删除
	function deletes(del){
		var id =  $(del).attr("rel");
		if(!confirm('确定要删除吗?')){
			return false;
		};
		$.ajax({
			type:"post",
			url:"{:url('Comment/comment_delet')}",
			async:true,
			data:{"id":id},
			success:function(data){
					window.location.reload();
			}
		});
	}
</script>
      