<layout  name="layout" />
<form action="/Comment/checkAll" method="post">
        <h1 class="page-header">管理 <span class="badge">4</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">评论内容</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>女孩都有浪漫的小情怀</td>
                <td class="article-title">这是测试评论摘要这是测试评论摘要这是测试评论摘要这是测试评论摘要...</td>
                <td>2015-12-03</td>
                <td><a rel="2" name="see" href="{:url('Comment/comment_detail',array('action'=>'comment'))}"  >查看</a> 
                	<a rel="2" name="delete">删除</a>
                </td>
              </tr>
              <tr>
                <td>女孩都有浪漫的小情怀</td>
                <td class="article-title">这是测试评论摘要这是测试评论摘要这是测试评论摘要这是测试评论摘要...</td>
                <td>2015-12-03</td>
                <td><a rel="2" name="see" href="{:url('Comment/comment_detail',array('action'=>'comment'))}"  >查看</a> 
                	<a rel="2" name="delete">删除</a>
                </td>
              </tr>
              <tr>
               <td>女孩都有浪漫的小情怀</td>
                <td class="article-title">这是测试评论摘要这是测试评论摘要这是测试评论摘要这是测试评论摘要...</td>
                <td>2015-12-03</td>
                <td><a rel="2" name="see" href="{:url('Comment/comment_detail',array('action'=>'comment'))}"  >查看</a> 
                	<a rel="2" name="delete">删除</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </form>
      