<layout name="layout" />
<div class="pre_text"  >
	<div id="scrollBox">
	    <ul id="con1">
	        <li>如果觉得文章写得不错,请点赞<li>
	        <li>前端分享学习博客，探究前端相关技术<li>
	        <li>有任何问题都可以留言一起探究<li>
	        <li>有好的建议可以留言一起讨论<li>
	      </ul>
	    <ul id="con2"></ul>
	</div>
</div>
 <div class="blog">
		<!-- blog list begin-->
	<volist name="info" id="val" >
	  <div class="blog-div" >
	  	<h2><a href="#">{$val.title}</a></h2>
	  	<p class="datetime">{$val.create_time}</p>
		<a class="topimg" href="#" >
			<img src="{$val.titlepic }"  >
		</a>
		<label class="lable_content" >
			<span>
				{$val.describe}{$val.type}
			</span>
			<!--传参数-->
			<a name="{$val.id}" onclick="browser(this,{$val.type},2)"  rel="nofollow" class="more-link">继续阅读 »</a>
			<p class="read">
	  			<span >
	  				<i class="icon iconfont icon-touxiang" ></i>
	     			<span>伍洁</span>
	  			</span>
	  			<span >
	  				<i class="icon iconfont icon-huiyishiqueren_huabanfuben" ></i>
	     			<span>{$val.update_time}</span>
	  			</span>
	  			<span >
	  				<i class="icon iconfont icon-liulan" ></i>
	     			<span>{$val.browser}浏览</span>
	  			</span>
	  			<span >
	  				<a href="javascript:;" class="thumbs-up star" name="{$val.id}" onclick="star(this)" >
	  					<i class="icon iconfont icon-buoumaotubiao16" ></i>
	     				<span>{$val.star}个赞</span>
	  				</a>
	  			</span>
	  		</p>
		</label>
	 </div>
	</volist>
 <!-- blog list end-->
  </div>
<aside> 
	<h2>博客分类</h2>
	<ul>
	  <li><a href="">慢生活(3)</a></li>
	  <li><a href="">程序人生(25)</a></li>
	  <li><a href="">经典美文(39)</a></li>
	</ul>
	<h2>近期文章</h2>
	<ul>
	  <li><a href="">女孩都有浪漫的小情怀</a></li>
	  <li><a href="">也许下个路口就会遇见希望</a></li>
	  <li><a href="">6月毕业季，祝福送给你</a></li>
	  <li><a href="">生活常有缺席的-可搞笑从来不缺席</a></li>
	  <li><a href="">为了一个不存在的梦，执念了那么多年</a></li>
	</ul>
	<h2>文章归档</h2>
	<ul>
	  <li><a href="/">2018 年一月</a></li>
	  <li><a href="/">2018 年二月</a></li>
	  <li><a href="/">2018 年三月</a></li>
	</ul>
	<!--<h2>友情链接</h2>
	<ul>
	  <li><a href="/">个人博客</a></li>
	  <li><a href="/">百度</a></li>
	  <li><a href="/">Google</a></li>
	</ul>-->
<!-- Baidu Button BEGIN -->
	<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare share">
		<a class="bds_tsina"></a>
		<a class="bds_qzone"></a>
		<a class="bds_tqq"></a>
		<a class="bds_renren"></a>
		<span class="bds_more"></span>
	</div>
	
<!-- Baidu Button END -->
</aside> 
<script type="text/javascript" src="__PUBLIC__/js/pre.js" ></script>