<layout  name="layout" />
 <h1 class="page-header">管理 <span class="badge">4</span></h1>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">id</span></th>
        <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">昵称</span></th>
        <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">邮箱</span></th>
        <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">网址</span></th>
        <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">留言时间</span></th>
        <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">留言内容</span></th>
        <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">操作</span></th>
      </tr>
    </thead>
    <tbody>
    	<volist name='info' id='val' >
		 <tr>
	        <td><label>{$val.id}</label></td>
	        <td class="article-title">{$val.name}</td>
	        <td>{$val.email}</td>
	        <td>{$val.website}</td>
	        <td>{$val.create_time}</td>
	        <td class="article-title">{$val.content}</td>
	        <td><a rel="{$val.id}" name="see" href="{:url('Message/message_detail',array('action'=>'message','id'=>$val.id))}" >查看</a> 
	        	<a rel="1" name="delete" onClick="return confirm('确定要删除吗?')" href="{:url('Message/message_dele',array('action'=>'article','id'=>$val.id))}">删除</a>
	        </td>
	      </tr>
    	</volist>
      
    </tbody>
  </table>
</div>
<footer class="message_footer">
  <nav>
    <ul class="pagination pagenav">
      <li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
      <li class="active"><a>1</a></li>
      <li class="disabled"><a aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
    </ul>
  </nav>
</footer>     