<layout name="layout" />
<div class="blog"  >
  	<div class="message-contend">
  		<h2 class="messge-pall-left" >留言板</h2>
  		<!--<div  class="messge-pall-right messge-pall" >
  			
  			<i class="icon iconfont  icon-fenxiang">
  				
  			</i>分享
  		</div>-->
  		<div class="message-boths">
  			<div class="messge-pall-right">
  				<a></a>
  			</div>
  		</div>
  		<div class="message-boths" >
  			<p class="line_height" >德才兼备  自强不息</p>
  			<p class="line_height">有任何问题以及建议都可以给我留言</p>
  		</div>
  		<div class="line_height">
  			<span class="messge-pall-left" >发表我的留言</span>
  			<span class="messge-pall-right" >
  				<button class="btn comment_btn">取消留言</button>
  			</span>
  		</div>
  	</div>
  	<div class="comt message-boths" >
  		<!--<div contentEditable="true" id="editor"  class="con input-block-level comt-area"  ></div> --> 
  		<textarea style="padding-left: 5px;width: 100%;" placeholder="  来都来了，说点什么吧…" style="width: 100%;min-height: 30px;" class="input-block-level comt-area" name="editor" id="editor" cols="100%" rows="3" tabindex="1"  ></textarea>
  	</div>
  	<div class="margin-top-10 emotion-height" >
  		<span class="messge-pall-left  emoticon">
  			<i class="icon iconfont  icon-biaoqing">表情</i>
  		</span>
  		<label class="messge-pall-right message-reply">
  			<input type="checkbox" name="comment_mail_notify" id="comment_mail_notify" value="comment_mail_notify"  class="vertical"  >
  			有人回复及时通知我
  			<button class="btn btn_submit"  name="submit" id="submits" tabindex="5" onclick="submits(this,'message')" >
  				<!--<i class="icon iconfont icon-pingluncomment43" class="vertical"  ></i>--> 
  				<i class="icon iconfont icon-3tuihuanhuozhengcegouxuan" class="vertical"  style="font-size: 16px;"  ></i> 
  				  <label style="position: relative;top: -2px;" > 提交评论 	</label>
  			</button>
  			
  		</label>
  	</div>
  	<div class="prompt" style="display: none;"  >
  		<p style="float: right;color: red;font-size: 16px;padding-right: 80px;">请勾选填写昵称和邮箱</p>
  	</div>
  	<div id="comment_smilies" class="hide message-boths message-margin-bottom" >
  		
	</div>
	<!--填入邮箱信息-->
	<div class="mailbox margin-top-10 message-boths fill-height"  >
		 <span style="" >
			<h4>hello！你需要填写昵称和邮箱哦(*^__^*) </h4>
		</span>
		<span >
			<ul>
				<li class="line_height message-margin">
					<label class="input_lable" >昵称（必填）:</label>
					<input type="text" name="name" id="name" class="input_text name" maxlength="12" placeholder="昵称..." onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\@\.]/g,'')"  />
				</li>
				<li class="line_height message-margin">
					<label class="input_lable">邮箱（必填）:</label>
					<input type="text" name="email" id="email" class="input_text email" placeholder="邮箱..."  />
				</li>
				<li class="line_height message-margin">
					<label class="input_lable">网址:</label>
					<input type="text" name="website" id="website" class="input_text website" placeholder="网址..." />
				</li>
				
			</ul>
		</span>
	</div>
	<div class="message-boths color_word" >
		<i class="icon iconfont  icon-liuyan" class="vertical"  ></i>
		<b>{$mess_count}</b>
		个小伙伴正在吐槽
	</div>
	<hr class="hr_message"/>
	
	<div class="ul-padding" >
		<volist name="info" id="val" >
			<ul>
				<li>
					<div  class="message_blog"   >
						<img class="title_img" src='/static/home/images/default.png'  />
						<span>
							<div >
								{$val.content}
							</div>
							<div >
								<label>{$val.name}&nbsp;&nbsp;2018-03-25</label>
								<a  class="reply_leave color_word" name="{$val.id}" onclick="reply(this)" >回复</a>
							</div>
						</span>
					</div>
					<div  class="reply_text" style="display: none;" >
					 	<textarea placeholder="来都来了，说点什么吧…" class="input-block-level comt-area" name="comment" class="comment" cols="100%" rows="3" tabindex="1"  ></textarea>
						<div  >
							<button class="btn-sure" onclick="determine(this,'messages')" >确定</button>
							<button class="btn_cancle" onclick="cancel(this)" >取消</button>
						</div>
					</div>
					<volist name="val.anwser_info" id="rplay">
						<ul>
							<li>
								<div  class="message_blog"   >
									<img class="title_img" src='/static/home/images/default.png'  />
									<span>
										<div >
											{$rplay.content}
										</div>
										<div >
											<label>{$rplay.name}&nbsp;&nbsp;2018-03-25</label>
											<!--每次回复是拿到父级id-->
											<a  class="reply_leave color_word" name="{$val.id}" onclick="reply(this)" >回复</a>
										</div>
									</span>
								</div>
								<div  class="reply_text" style="display: none;" >
								 	<textarea placeholder="来都来了，说点什么吧…" class="input-block-level comt-area" name="comment" class="comment" cols="100%" rows="3" tabindex="1"  ></textarea>
									<div>
										<button class="btn-sure" onclick="determine(this,'messages')" >确定</button>
										<button class="btn_cancle" onclick="cancel(this)" >取消</button>
									</div>
								</div>
								
							</li>
						</ul>
					</volist>
				</li>
			</ul>
		</volist>
				
	</div>
	
  </div>
  
  <aside>
  	jbojkj
  </aside>
 <script type="text/javascript">
	//点击取消评论的时候
	$('.comment_btn').click(function(){
		$('#editor').val("");
		if($('#comment_mail_notify').is(':checked')){
			$('#comment_mail_notify').prop("checked",false);
			$('.mailbox').css('display','none');
		}
	});
 </script>

