<layout name="layout" />
<div class="about" >
	<h2>你现在的位置:&nbsp;>&nbsp;<span>关于我</span></h2>
	<hr  size="1px"  color="#D2CCC9" style="margin-top: 15px;" />
</div>
<aside> 
	<h2  class="ab_title" >
		关于我
	</h2>
	<div style="width: 100px;height: 100px;border-radius: 50%;overflow: hidden;text-align: center;margin-left: 22px;">
		<img src="__PUBLIC__/images/2011713203720633.jpg" style="width: 100px;height: 100px;" />
	</div>
	<div style="line-height: 30px;padding: 20px;">
		<p>网名：含灵 | 伍洁</p>
		<p>职业：Web前端工程师</p>
		<p>个人微信 ：Web前端工程师</p>
		<p>邮箱：Web前端工程师</p>
	</div>
	<h2  class="ab_title" >
		官方微信
	</h2>
	<div>
		<img src="" />
	</div>
</aside>  